<% include ../partials/header %>

<div class="container">
    <div class="row" >
        <h1 class="btn-block">Choose Subjects</h1>
        <div class="btn-block" style="display:block;">
                <form action="/tutor/add/subject" method='post' >
                    <%fields.forEach(function(field){%>
                        <button class="navbar-toggler row" type="button" data-toggle="collapse" data-target="#<%=field.field%>" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <h2 class="navbar-toggler-icon" style="margin-left:20px;"><a href="#"><%=field.field%></a></h2>
                        </button>
    
                        <div class="collapse navbar-collapse" id="<%=field.field%>" style="margin-bottom:20px; border-bottom:10px;">
                            <%field.subject.forEach((sub)=>{%>
                                <div class='form-group'>
                                        <input type='checkbox' value="<%=sub%>" name="tutor[subjects]"><%= sub %><br>
                                </div>
                            <%})%>
                        </div>
                    <%})%>
                    <br>
                    <button class='btn btn-block btn-success btn-lg'>Proceed</button>
                </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>