<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Tutor Bot - Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<%-  include ../partials/navbar %>
<div class="col-md-12">
   <form action="/tutor/search" method="post">
       <div class="form-group ad-30" style="margin-top:8px;">
            <div class="input-group search-style">
                <input class="form-control new-search-bar"  name="tutorsearch" id="search" placeholder="Search Tutor" type="text">
                <span class="input-group-btn">
                    <button class="btn input-btn" type="" id="search-form">Search</button>
                </span>
            </div>
        </div>
   </form>
</div>
  


<div class="col-md-12">
        <form action="/post" method="post">
            <div class="form-group ad-30" style="margin-top:8px;">
                 <div class="input-group search-style">
                        <textarea class="form-control" name="problem[statement]" id="msg" placeholder="Enter Questions"></textarea>
                        <select name="problem[tag]" required>
                                <% _.forEach(fields,function(field){%>
                                    <% field._id.forEach(function(sub){%>
                                        <option value="<%=sub%>"><%=sub%></option>
                                    <%})%>
                                <%})%>
                        </select>
                     <span class="" style="margin-top:3px; float:right;">
                         <button class="btn input-btn" type="" id="problem-form">Post</button>
                     </span>
                 </div>
             </div>
        </form>
     </div>
       

<div class="col-md-12">
    <input type="hidden" id="name-user" value="<%= user.username%>">
    <input type="hidden" name="name-image" value="<%= user.userImage %>">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="filter-container">
                            <div class="card">
                                <form action="/tutor/results" method="post">
                                    <div class="content">
                                        <p class="filter">
                                            FILTER
                                        </p>
                                        <hr/>
                                        <select class="form-control" name="country" id="country" >
                                            <option value="x">Filter By Subjects</option>
                                            <% _.forEach(fields,function(field){%>
                                                <% field._id.forEach(function(sub){%>
                                                    <option value="<%=sub%>"><%=sub%></option>
                                                <%})%>
                                            <%})%>
                                        </select>
                                        <div class="clearfix"></div>
                                        <button class="btn add-apply">Apply</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <div>
                    <% _.forEach(chunks,function(val){%>
                        <div class="category-list">
                            <div class="row">
                                <% _.forEach(val,function(val1){%>
                                <form action="/" method="post" id="favorite">
                                        <div class="item col-md-4">
                                            <a style=" text-decoration: none;" href="#"> 
                                                <div class="thumbnail">
                                                    <img src="../uploads/<%=val1.userImage%>"alt="">
                                                    <div class="caption">
                                                        <h4><%= val1.username%> </h4>
                                                        
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-6">
                                                                <p>
                                                                        <%= val1.subjects%>
                                                                </p>
                                                            </div>
                                                            
                                                            <div class="col-xs-12 col-md-6">
                                                                <input type="hidden" name="id" id="id" value=""> <!--name of group-->
                                                                <input type="hidden" name="club_Name" id="club_Name" value=""> <!--name of group-->
                                                                <input type="hidden" name="tag" id="tag" value="">
                                                                <a data-toggle="modal" data-target="#myModal" class="btn btn-success" id="val">Send Request <span hidden><%=val1.username%></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                </form>
                                <%})%>
                            </div>
                        </div>
                    <%})%>
                </div>

                <div class="gr-rightsidebar">

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h3 class="modal-title" id="name"></h3>
                                </div>
                                <div class="modal-body">
                                <form action="" method="get" id="add_friend">
                                    <input type="hidden" name="receiverName" id="receiverName" value="">
                                    <input type="hidden" name="sender-name" id="sender-name" value="<%= user.username%>">
                                    <button type="submit" id="friend-add" class="btn add"><i class="fa fa-user"></i> Hire Tutor</button>

                                    <div id="myTest">
                                        
                                    </div>
                                </form>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn_close" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                            </div>
                        </div>

                        <div class="col-md-12"  id="main">
                            <div id="users"></div>
                            
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>

  
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../socket.io/socket.io.js">
</script>
<script src="../js/messagelink.js"></script>

<script src="../js/group/sendrequest.js"></script>

<script src="../js/send.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
<script src="../js/home.js"></script>
<script src="../js/global.js"></script>
<script src="../js/deparam.js"></script>

</body>
</html> 